<div class="central-component">
  <communication messages="$ctrl.messages"></communication>
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Dashboard</strong></div>
    <div class="panel-body">

      <div class="jumbotron">
        <p>If this is your first login in the application, you'll have to ask the admin to give you access to the modules you need to use.</p>
      </div>

    </div>
  </div>
</div>
