<div ng-if="$ctrl.hasUser()">

  <div class="row user-detail-row">
    <div class="col-lg-6 col-lg-offset-1">
      <div class="input-group-sm">
        <span class="title1"><span class="glyphicon glyphicon-user"></span> {{$ctrl.user.name}}</span>
      </div>
    </div>
  </div>

  <div class="row user-detail-row">
    <div class="col-lg-3 col-lg-offset-1">
      <div class="input-group-sm">
        <label for="role">Role</label>
        <input type="text" id="role" class="form-control" placeholder="Category" ng-model="$ctrl.user.role">
      </div>
    </div>
    <div class="col-lg-1">
      <div class="input-group-sm">
        <label for="activated">Is active</label>
        <div><input type="checkbox" id="activated" ng-model="$ctrl.user.isActive"></div>
      </div>
    </div>
    <div class="col-lg-5 col-lg-offset-1">
      <div class="input-group-sm">
        <div><label>Assigned modules</label></div>

        <uib-accordion close-others="true">
          <div uib-accordion-group ng-repeat="(key, value) in $ctrl.modules | groupBy: 'category'" class="header-menu well black my-accordion-header">
              <uib-accordion-heading>
                  <div><strong>{{key}}</strong></div>
              </uib-accordion-heading>

              <div class="badge-container">
                  <div ng-repeat="module in value"
                       class="badge selecting-badge" style="height:30px;"
                       ng-class="{'selected-badge': $ctrl.bindModulePermissions({module : module.componentName})}">

                      <input type="checkbox" ng-model="module.selected" ng-click="$ctrl.toggleModule({module : module})"> &nbsp;&nbsp;

                      &nbsp; <b>{{module.componentName}}</b> &nbsp;: &nbsp;
                      <input type="checkbox" ng-model="module.permissionEntity.read" ng-click="$ctrl.togglePermission(module, 'read')"> &nbsp;Read &nbsp;
                      <input type="checkbox" ng-model="module.permissionEntity.modify" ng-click="$ctrl.togglePermission(module, 'modify')"> &nbsp;Modify&nbsp;
                      <input type="checkbox" ng-model="module.permissionEntity.delete" ng-click="$ctrl.togglePermission(module, 'delete')"> &nbsp;Delete&nbsp;

                  </div>
              </div>
              <div ng-if="!(($index + 1) % 5)"><br /><br /></div>
          </div>
      </uib-accordion>
      </div>
    </div>
  </div>

  <div class="row user-detail-row">
    <div class="col-lg-2 col-lg-offset-5">
      <div class="input-group-sm">
        <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onEdited({user : $ctrl.user})"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
        <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onDeleted({userId : $ctrl.user._id})"><span class="glyphicon glyphicon-remove"></span> Remove</button>
      </div>
    </div>
  </div>

</div>
