<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
           <th>User name</th>
           <th>Display name</th>
           <th>Role</th>
           <th>Active</th>
           <th>Modules</th>
           <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="user in $ctrl.users"
          ng-class="{'success': $ctrl.isSelected({userId : user._id})}">
          <td>{{user.name}}</td>
          <td>{{user.displayName}}</td>
          <td>{{user.role}}</td>
          <td>{{user.isActive}}</td>
          <td>{{$ctrl.getModules({user : user})}}</td>
          <td>
            <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onSelected({user : user})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
