<div class="communication-container">
  <div ng-repeat="message in $ctrl.messages">
    <div class="alert alert-{{$ctrl.getMessageClass(message.type)}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="$ctrl.deleteMessage(message.index)"><span aria-hidden="true">&times;</span></button>
      <div><strong>{{message.title}}</strong></div>
      <div>{{message.description}}</div>
    </div>
  </div>
</div>
