<authentication></authentication>
<div class="header-container"><header title="{{$ctrl.appService.getAppTitle()}}"></header></div>

<div class="middle-container">
  <div ng-if="!$ctrl.userLogedIn()">
    <div class="col-lg-10 col-lg-offset-1">
      <landing></landing>
    </div>
  </div>

  <div ng-if="$ctrl.userLogedIn()">
      <div class="col-lg-2">
        <div class="navigation-container x-scrollable">
          <navigation></navigation>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="content-container scrollable" ui-view></div>
      </div>
  </div>
</div>

<div class="footer-container"><footer></footer></div>
