<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">Backoffice (PoC)</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{$ctrl.title}}</a>
    </div>
  </div>
</nav>
