.auth-container {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1001;
  position: relative;
}

.error{
  color: red;
  padding-left: 15px;
  font-weight:bold;
}

.logout{
  color: #bbb;
  font-weight:bold;
  margin-right: 10px;
  margin-top: 5px;
}

.logout a{
  cursor: pointer;
  color: #666;

  &:hover{color: red; text-decoration: none;}
  &:visited{color: #666;}
}

.logout span{
  margin-right: 5px;
}

.logout span.logoutuser{
  margin-right: 30px;
}
