<div class="auth-container">
  <div ng-if="!$ctrl.logedIn">
    <form class="navbar-form form-inline" ng-submit="$ctrl.submitForm()">
      <div class="form-group">
        <input class="form-control input-sm" type="text" placeholder="Username" ng-model="$ctrl.formData.username" />
      </div>
      <div class="form-group">
        <input class="form-control input-sm" type="password" placeholder="Password" ng-model="$ctrl.formData.password" />
      </div>
      <button class="btn btn-sm btn-primary pull-xs-right" type="submit">Login</button>
    </form>
    <div ng-show="$ctrl.loginError">
      <p class="error">{{$ctrl.loginErrorMessage}}</p>
    </div>
  </div>
  <div ng-if="$ctrl.logedIn">
    <div class="logout">
      <span class="glyphicon glyphicon-user"></span><span class="logoutuser">Hello {{$ctrl.UserName}}</span>
      <a ng-click="$ctrl.logout()"><span class="glyphicon glyphicon-off"></span>Logout</a>
    </div>
  </div>
</div>
