<div class="central-component">
  <communication messages="$ctrl.messages"></communication>

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>User Management</strong></div>
    <div class="panel-body">

      <user-detail  user = "$ctrl.getSelectedUser()"
                    on-modules-assigned="$ctrl.editUserModules(user)"
                    on-edited="$ctrl.editUser(user)"
                    on-deleted="$ctrl.deleteUser(userId)">
      </user-detail>

      <div class="h-divider"></div>

      <user-list  users="$ctrl.getUsers()"
                  on-selected="$ctrl.selectUser(user)"
                  is-selected="$ctrl.isUserSelected(userId)"
                  get-modules="$ctrl.getModules(user)">
      </user-list>

    </div>
  </div>
</div>
