.user-detail-row{
  margin-bottom: 10px;
}
.user-detail-row-doble{
  margin-bottom: 20px;
}

.selected-badge{
  background-color: green;
}

.badge-container div.selecting-badge{
  cursor: pointer;
  float: none;
  margin:5px;
  height:20px;
}

.user-detail{
  display : inline;
  float: none;
}

.user-detail-info{
  width: 60%;
}

.user-detail-modules{
  width: 40%;
}
