<div class="menu-component">
  <div class="header-menu well"><a ui-sref="dashboard">Home</a></div>
  <div ng-repeat="(key, value) in $ctrl.modules | groupBy: 'category'">
    <div class="header-menu well menu-list">{{key}}</div>
    <div class="link-menu" ng-repeat="module in value"><a ui-sref="{{module.controllerName}}">{{module.menuName}}</a></div>
  </div>
</div>
