.header-menu{
  background: #337ab7;
  list-style: none;
  color: white;
  font-weight:bold;
  padding: 5px 9px;
  margin-bottom: 0px;;
}

.header-menu a{
  color: white;
  font-weight:bold;

  &:hover{color: #666}
  &:visited{color: white;}
}

.link-menu{
  list-style: none;
  background: lightgrey;
  padding-left: 10px;

  &:hover{background: #888;}
}

.link-menu a{
  color: #666;
  font-weight:bold;

  &:hover{color: #999; text-decoration: none;}
  &:visited{color: #666;}
}

.menu-list{
  margin-top: 10px;
}
