<div ng-if="$ctrl.components.length > 0">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
             <th>Component name</th>
             <th>Category</th>
             <th>Avtive</th>
             <th>Order</th>
             <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="component in $ctrl.components"
            ng-class="{'success': $ctrl.isSelected({componentId : component._id})}">
            <td>{{component.componentName}}</td>
            <td>{{component.category}}</td>
            <td>{{component.isActive}}</td>
            <td>{{component.menuOrder}}</td>            
            <td>
              <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onSelected({component : component})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
              <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onDeleted({componentId : component._id})"><span class="glyphicon glyphicon-remove"></span> Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div ng-if="$ctrl.components.length == 0">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-4">
      <h3>There is no component yet</h3>
    </div>
  </div>
</div>
