<div class="row component-detail-row">
    <div class="col-lg-2 col-lg-offset-2">
        <div class="input-group-sm">
            <label for="module-name">Module name</label>
            <input type="text" id="module-name" class="form-control" placeholder="Módulo" ng-model="$ctrl.component.componentName">
        </div>
    </div>
    <div class="col-lg-2">
        <div class="input-group-sm">
            <label for="menu-name">Module menu name</label>
            <input type="text" id="menu-name" class="form-control" placeholder="Menú" ng-model="$ctrl.component.menuName">
        </div>
    </div>
    <div class="col-lg-2">
        <div class="input-group-sm">
            <label for="controller-name">Controller name</label>
            <input type="text" id="controller-name" class="form-control" placeholder="Controller" ng-model="$ctrl.component.controllerName">
        </div>
    </div>
    <div class="col-lg-2">
        <div class="input-group-sm">
            <label for="menu-order">Menu order</label>
            <input type="text" id="menu-order" class="form-control" placeholder="orden en menú" ng-model="$ctrl.component.menuOrder">
        </div>
    </div>
</div>

<div class="row component-detail-row-doble">
    <div class="col-lg-2 col-lg-offset-2">
        <div class="input-group-sm">
            <label for="category">Category</label>
            <input type="text" id="category" class="form-control" placeholder="Categoría" ng-model="$ctrl.component.category">
        </div>
    </div>
    <div class="col-lg-1">
        <div class="input-group-sm">
            <label for="orden">Order</label>
            <input type="text" id="orden" class="form-control" placeholder="orden" ng-model="$ctrl.component.categoryOrder">
        </div>
    </div>
    <div class="col-lg-1">
        <div class="input-group-sm">
            <label for="role">Role</label>
            <input type="text" id="role" class="form-control" placeholder="rol" ng-model="$ctrl.component.role">
        </div>
    </div>
    <div class="col-lg-2">
        <div class="input-group-sm">
            <label for="icono">Icon class</label>
            <input type="text" id="icono" class="form-control" placeholder="clase del icono" ng-model="$ctrl.component.iconClass">
        </div>
    </div>
    <div class="col-lg-1">
        <div class="input-group-sm">
            <label for="activated">Activo</label>
            <div><input type="checkbox" id="activated" ng-model="$ctrl.component.isActive"></div>
        </div>
    </div>
</div>

<div class="row component-detail-row">
  <div class="col-lg-3 col-lg-offset-5">
    <div ng-if="$ctrl.isNewComponent()">
      <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onSaved({component : $ctrl.component})"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
      <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onCleared()"><span class="glyphicon glyphicon-remove"></span> Clear</button>
    </div>
    <div ng-if="!$ctrl.isNewComponent()">
      <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onEdited({component : $ctrl.component})"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
      <button class="btn btn-sm btn-primary pull-xs-right" type="submit" ng-click="$ctrl.onCleared()"><span class="glyphicon glyphicon-remove"></span> Clear</button>
    </div>
  </div>
</div>
