<div class="central-component">
  <communication messages="$ctrl.messages"></communication>

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Component Management</strong></div>
    <div class="panel-body">

      <component-detail component="$ctrl.getSelectedComponent()"
                        on-edited="$ctrl.editComponent(component)"
                        on-saved="$ctrl.saveComponent(component)"
                        on-cleared="$ctrl.clearComponent()">
      </component-detail>

      <div class="h-divider"></div>

      <component-list components="$ctrl.getComponents()"
                      on-selected="$ctrl.selectComponent(component)"
                      on-deleted="$ctrl.deleteComponent(componentId)"
                      is-selected="$ctrl.isComponentSelected(componentId)">
      </component-list>

    </div>
  </div>
</div>
