$total-header-height: 290px;

body {
  background-color: lightgrey;
  margin:0px;
  padding:0px;
}

.header-container {
  top: 0px;
  left: 0px;
  position: fixed;
  width:100%;
}

.middle-container{
  padding-top: 150px;
  position: fixed;
  width:100%;
}

.navigation-container{
  width:100%;
  position: fixed;
}

.scrollable {
    overflow-y: auto;
    height: calc( 100% - #{$total-header-height} );
}

.x-scrollable {
    overflow-x: auto;
    height: calc( 100% - #{$total-header-height} );
}

.content-container {
  margin-left: -50px;
  border-left: 3px solid grey;
  padding-left: 20px;
  position: fixed;
  width: 100%;
}

.central-component{
  width: 84%;
}

.menu-component{
  width:13.7%;
}

.footer-container {
  bottom: 0;
  left: 0;
  position: fixed;
  width:100%;
}

.h-divider{
 margin-top: 40px;
 margin-bottom: 30px;
 height: 1px;
 width: 100%;
 border-top: 1px solid gray;
}

.title1{
  margin-top: 20px;
  color: black;
  font-weight:bold;
  font-size: 150%
}

.margin-side-5{
  margin-left: 5px;
  margin-right: 5px;
}
